@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 90%;

    --primary: 0, 0%, 0%;
    --secondary: 0, 0%, 10%;
    --tertiary: 0, 0%, 98%;
  }

  .dark {
    --background: 0 0% 10%;

    --primary: 0, 0%, 100%;
    --secondary: 0, 0%, 90%;
    --tertiary: 0, 0%, 15%;
  }
}

.grid-area-custom {
  grid-area: 1 / 1 / -1 / 7;
}
